Checks: '-*,readability-identifier-naming'
CheckOptions:
  - { key: readability-identifier-naming.VariableCase, value: 'lower_case' }
  - { key: readability-identifier-naming.FunctionCase, value: 'lower_case' }
  - { key: readability-identifier-naming.ConstantCase, value: 'lower_case' }
  - { key: readability-identifier-naming.StructCase, value: 'lower_case' }
  - { key: readability-identifier-naming.TypedefCase, value: 'lower_case' }
  - { key: readability-identifier-naming.TypedefSuffix, value: '_t' }
  - { key: readability-identifier-naming.EnumCase, value: 'lower_case' }
  - { key: readability-identifier-naming.EnumConstantCase, value: 'UPPER_CASE' }
  - { key: readability-identifier-naming.PointerTypedefCase, value: 'lower_case' }

